.CreateQuestionCard {
  width: 716px;
  height: 330px;
  margin: 250px auto;
  padding: 16px 24px;
  border: 1px solid #e4d5c9;
  background-color: #f5f1ee;
  border-radius: 16px;
  text-align: center;
  position: relative;
<<<<<<< HEAD
}
.backButton {
  position: absolute;
  top: -50px;
  left: 0;
  padding: 8px 16px;
  border-radius: 999px;
  background-color: #542f1a;
  color: #ffffff;
  font-size: 14px;
  border: none;
  cursor: pointer;
}
.backButton:hover {
  opacity: 0.9;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
=======
>>>>>>> fc8b0e183b8cf1c7c6ff7d05ecb2307542611f59
}

.CreateQuestionCard p {
  font-size: 20px;
  font-weight: 400;
  color: #542f1a;
  display: flex;
  justify-content: center;
  gap: 6px;
}
.mailBox {
  position: absolute;
  top: 80px;
  right: 280px;
}

/* 미디어 쿼리 */
@media (max-width: 950px) {
  .CreateQuestionCard {
    width: 704px;
  }
}

@media (max-width: 768px) {
  .CreateQuestionCard {
    width: 327px;
  }
  .mailBox {
    position: absolute;
    top: 80px;
    right: 85px;
  }
}
