.questionListSection {
  width: 716px;
  height: 1138px;
  background-color: #f5f1ee;
  padding: 16px;
  margin: 0 auto;
  margin-top: 220px;
  text-align: center;
  border: 1px solid #c7bbb5;
  border-radius: 16px;
  gap: 12px;
}

.questionListSection p {
  font-family: 'Actor';
  font-weight: 400;
  font-size: 20px;
  color: #542f1a;
}

.questionList {
  background-color: white;
  width: 684px;
  height: auto;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0 4px 4px rgba(140, 140, 140, 0.25);
  text-align: start;
}

.reactionContainer {
  display: flex;
  gap: 24px;
}
